/.gradle/
/build/
*.class
.idea
*.iml

.classpath
.project
.settings/org.eclipse.buildship.core.prefs
bin/hibernate.cfg.xml
bin/log4j.properties

out/production/classes/hibernate.cfg.xml
bin/hibernate.cfg.xml
