<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://apddb.ck6ywww2iqip.sa-east-1.rds.amazonaws.com:3306/apddb</property>
        <property name="hibernate.connection.username">apddb_admin</property>
        <property name="hibernate.connection.password">apddb_admin</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>